.form__container {
    display:grid;
    display:block;
    gap: 2.5rem;
    text-align: center;
}

.form {
    background: var(--color-bg-v);
    padding: 1.3rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition: var(--transition);
    width: 50%;
    margin: auto;
    text-align: center;
}
.form input {
    width: 100%;
    border-radius: 1.5rem;
    height: 3rem;
    gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    margin-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.form textarea {
    width: 100%;
    border-radius: 1.5rem;
    height: 8rem;
    gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    margin-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.btn__submit {
    left:50%;
    font-size: 20px;
    margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .form {
         grid-template-columns: 1fr 1fr;
         gap: 1rem;
         width: 80%;
     }
 }
 
 @media screen and (max-width: 600px) {
     .form {
         grid-template-columns: 1fr;
         gap: 1rem;
         width: 90%;
         margin: auto;
     }
 }