nav {
    background-color: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.8rem 3.5rem;
    z-index:2;
    position:fixed;
    left:50%;
    /* left: 20%; */
    transform: translateX(-50%);
    bottom:3rem;
    /* top: 1rem; */
    display:flex;
    gap:0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav:hover {
    padding: 1.0rem 3rem;
}
nav a {
    background: transparent;
    padding:0.5rem;
    border-radius: 50%;
    display:flex;
    color:var(--color-light);
    font-size: 2rem;
}

nav a:hover {
    background: rgba(0,0,0,0.3);

}

nav a.active {
    background: var(--color-bg);
    color: var(--color-w);
}



@media screen and (max-width: 576px) {
    nav {
        /* display:flex;
        flex-direction: column; */
        top: auto;
        bottom: 2rem;
        padding: 0.8rem 3.5rem;
    }
    nav a {
        padding:0;
    }
}